%h1 Sign In
= form_for(:session, url: sessions_path) do |f|
  %table
    %tr
      %td= f.label :email
      %td= f.text_field :email
    %tr
      %td= f.label :password
      %td= f.password_field :password
    %tr
      %td
      %td= f.submit "Sign In"
%p 
  New user?
  = link_to 'Sign up here!', signup_path