%h1 My Garden Devices

%table.table.table-striped
  %thead
    %tr
      %th Device Name 
      %th Serial Number
      %th Owner
      %th Action
  %tbody
    - @garden_devices.each do |garden_device|
      %tr
        %td= garden_device.name
        %td= garden_device.serial_number
        %td= garden_device.user.get_full_name
        %td
          = link_to 'Show', garden_device, :class => 'btn btn-mini btn-info'
          = link_to 'Edit', edit_garden_device_path(garden_device), :class => 'btn btn-mini btn-warning'
          = link_to 'Delete', garden_device_path(garden_device),                                                                               |
                      :method => 'delete',                                                                            |
                      :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure you want to delete?')), |
                      :class => 'btn btn-mini btn-danger'    
%p
  = paginate @garden_devices        
%p
  = link_to 'Add More Device', new_garden_device_path, :class=> "btn btn-primary"
  