%h1 My Garden Devices

%table.table.table-striped
  %tr
    %th Name 
    %th Serial Number
    %th Owner
    %th Action

  - @garden_devices.each do |garden_device|
    %tr
      %td= garden_device.name
      %td= garden_device.serial_number
      %td= garden_device.user.email
      %td= link_to 'Show', garden_device
      
%br

= link_to 'New Garden condition', new_garden_device_path
