%h1 New Device
= form_for(@garden_device) do |f|
  %table
    %tr
      %td= f.label :name
      %td= f.text_field :name
    %tr
      %td= f.label :serial_number
      %td= f.text_field :serial_number
    %tr
      %td
      %td= f.submit "Add Device"